body {
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

nav {
    display: flex;
    align-items: center;
    border: black 3px solid;
}

nav img {
    max-width: 200px;
    padding-left: 100px;
}

nav a {
    padding: 10px;
    text-decoration: none;
    color: rgb(44, 60, 90);
    padding-top: 25px;
    padding-bottom: 25px;
    font-weight: bolder;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

nav a:hover {
    background-color: rgb(44, 60, 90);
    color: whitesmoke;
}

nav {
    background-color: rgb(162, 196, 203);
    height: fit-content
}

header {
    padding: 7.5%;
    padding-top: 2%;
    border-bottom: 3px black solid;
}

header h1 {
    color: rgb(44, 60, 90);
    font-size: 300%;
    font-weight: bolder;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header img {
    max-width: 500px;
}

.productInterface {
    display: flex;
    gap: 5%
}

.productInterface img {
    flex: 2;
    border: black 3px solid;
    padding: 30px;
}

.productInterface div {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.productInterface div a {
    border-radius: 5px;
    background-color: rgb(44, 60, 90);
    color: whitesmoke;
    padding: 15px;
    align-items: center;
    padding-left: 45%;
    padding-right: 45%;
    text-decoration: none;
    font-weight: bolder;
    border: 3px solid rgb(44, 60, 90);
}

.productInterface div a:hover {
    background-color: white;
    color: rgb(44, 60, 90);
    border: 3px solid rgb(44, 60, 90);
}

.productInterface div p {
    padding-bottom: 5%;
}

.productInterface div h2 {
    padding-left: 2%;
    font-size: xx-large;
    font-weight: 5000;
    font-family: sans-serif;

}

.eersteSectie {
    display: flex;
    padding: 7.5%;
    gap: 10%;
    align-items: start;
    justify-self: center;
}

.plusMinPunten {
    flex: 1;
    background-color: rgb(162, 196, 203);
    padding: 10px;
    padding-left: 50px;
}

.omschrijving {
    flex: 2;
}

.omschrijving h2 {
    font-size: 30px;
    margin: 0;
}

.omschrijving p {
    margin-top: 10px;
}

p {
    color: rgb(45, 45, 45);
}

.tweedeSectie {
    background-color: rgb(162, 196, 203);
}

.tweedeSectie h2 {
    text-align: center;
    padding-top: 75px;
    padding-bottom: 10px;
    font-size: xx-large;
    font-weight: bolder;
}

.tweedeSectie div {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
}

.tweedeSectie div article {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex: 1;
}

.tweedeSectie div h3 {
    margin-bottom: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.tweedeSectie div p {
    margin-top: 10px;
    margin-bottom: 75px;
}

.tweedeSectie div img {
    max-height: 100px;
    background-color: white;
    padding: 10px;
    border: black 3px solid;
}

footer {
    background-color: rgb(44, 60, 90);
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

footer a {
    color: rgb(132, 132, 132);
    text-decoration: none;
    padding: 20px;
    padding-top: 50px;
    padding-bottom: 51px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

footer a:hover {
    color: rgb(255, 255, 255);
}